.md-48 {
  font-size: 48px;
  cursor: pointer;
}

.perfil-data{
  width: 100%;
  height: 93%;
  margin-top: 0px;
  margin-left:0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background: #b0bec5;
  -moz-box-shadow:  0px 5px 4px #b7b7b7;
  -webkit-box-shadow: 0px 5px 4px #b7b7b7;
  padding: 20px;
}

.open{
  transform: translateX(15vw);
  padding: 30px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #eee;
  transition: all 0.3s;
  overflow: hidden;
}

.content{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #eee;
  padding: 30px;
  transition: all 0.3s;
  overflow: hidden;
}

.open-mobile{
  transform: translateX(65vw);
  padding: 30px;
  width: 100vw;
  height: 100%;
  background: #eee;
  transition: all 0.3s;
  overflow: hidden;
  position:fixed;
  z-index: 100;
  top: inherit;
}

.content-mobile{
  width: 100vw;
  height: 100%;
  background: #eee;
  padding: 30px;
  transition: all 0.3s;
  overflow: hidden;
  position:fixed;
  z-index: 100;
  top: inherit;
}

.menu{
  font-size: 36px;
  display:block;
  vertical-align: middle;
  margin: 0px;
  padding:0px;

}

.menu-button{
  z-index:10;
  padding-left: 0px;
  margin-left: 0px;

}

.info-perfil{
  border-right: solid #eeeeee;
  text-align: center;
}

.data-perfil{

}

.user-img{
  float: none;
  margin: 0 auto;
  padding-top: 10px;
  display: block;
  width: 30vh;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.edit-perfil{

  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 15px;
  overflow: hidden;
}


