

.md-48 {
  font-size: 48px;
  cursor: pointer;
}

.disciplina-titulos{
  width: 100%;
  height: 7%;
  margin-top: 15px;
  margin-left:0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background: #b0bec5;

}

.table-align{
  text-align: center;
  float: inherit;
}

.disciplina-info{
  width: 100%;
  height: 28%;
  margin:0px;
  padding-top: 0px;
  background: #d8d6d7;

}

.disciplina-data{
  width: 100%;
  height: 58%;
  margin-top: 0px;
  margin-left:0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background: #b0bec5;
  -moz-box-shadow:  0px 5px 4px #b7b7b7;
  -webkit-box-shadow: 0px 5px 4px #b7b7b7;

}

.graphic{
  display: block;
  height: 95%;
}

.open{
  transform: translateX(15vw);
  padding: 30px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #eee;
  transition: all 0.3s;
  overflow: hidden;
}

.content{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #eee;
  padding: 30px;
  transition: all 0.3s;
  overflow: hidden;
}

.open-mobile{
  transform: translateX(65vw);
  padding: 30px;
  width: 100vw;
  height: 100%;
  background: #eee;
  transition: all 0.3s;
  overflow: hidden;
  position:fixed;
  z-index: 100;
  top: inherit;
}

.content-mobile{
  width: 100vw;
  height: 100%;
  background: #eee;
  padding: 30px;
  transition: all 0.3s;
  overflow: hidden;
  position:fixed;
  z-index: 100;
  top: inherit;
}

.glyphicon-center {
  position: inherit;
  vertical-align: middle;
}

.glyphicon-center {
  position: inherit;
  vertical-align: middle;
}

.glyphicon-center-2{
  display:block;
  text-align:center;
}

.glyphicon-center-3{
  text-align:center;
}

.menu{
  font-size: 36px;
  display:block;
  vertical-align: middle;
  margin: 0px;
  padding:0px;
}

.info-disciplina{
  background: #01bbd4;
  height: 100%;
  padding: 20px;
  margin-top: 0px;
  word-wrap: break-word;
  overflow: hidden;
}

.info-disciplina h2{
  font-weight: 900;
  font-size:4vh;
  color: white;
  margin: 0px;
  padding: 0px;
}

.info-disciplina h3{
  font-weight: 600;
  font-size:2.5vh;
  color: white;
  padding-top: 0.5px;
  padding-bottom: 0px;
}

.title{
  text-align: center;
  display: block;
}

.title h2{
  color:white;
  font-weight: 900;
}
.notas{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

}

.style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(245,245,245,0.9);
}

.style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: rgba(245,245,245,0.9);
}

.style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

.title-table{
  background: black;
  color: white;
}

.tabela{
  background: white;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  table-layout: fixed;
}

.table-area{
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

.mouse-houver{
  cursor: pointer;
}
